#loading {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.5em;
  font-size: 4em;
  color: #000;
}

#loading.loaded {
  display: none;
}

table.floatThead-table {
  border-top: none;
  border-bottom: none;
  background-color: #efefef;
}

.dropdown-menu {
  z-index: 10000;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color:blue;
}

.my_svg {
  height: 50px;
  width: 200px;
}

.navbar {
  z-index: 10000;
}

.modal {
  z-index: 100000;
}

.tooltip {
  z-index: 110000;
}

.bgcolorSun {
  background-color: #ff7f50;
}

.bgcolorSat {
  background-color: #b0c4de;
}

.bgcolorDay {
  background-color: #efefef;
}

.bgcolornormal {
  background-color: #ffeaee;
}

.bgcolorlow {
  background-color: #ffbaee;
}

.bgcolormid {
  background-color: #ff8aee;
}

.bgcolorhigh {
  background-color: #ff5aee;
}
