<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LogonTracer</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/dark-mode.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-1 shadow">
    <a class="navbar-brand" href="/"><img class="my_svg" src="static/images/logo_top.svg" alt="top" width="190"></a>
    <div class="collapse navbar-collapse">
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="login-form bg-light mt-4 p-4">
          <form action="" method="POST" class="row g-3">
            {{ form.hidden_tag() }}
            <h4>Change Password</h4>
            {% for error in form.password1.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            <div class="col-12">
              <label>{{ form.password1.label }}</label>
              {{ form.password1(size=34) }}<br>
            </div>
            <div class="col-12">
              <label>{{ form.password2.label }}</label>
              {{ form.password2(size=34) }}<br>
            </div>
            <div class="col-12">
              <div class="float-end">
                <button type="submit" class="btn btn-secondary">Submit</button>
                <a href="/" name="cancel" class="btn btn-dark">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>

</html>
