<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>LogonTracer</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.1.1/css/bootstrap5-toggle.min.css" integrity="sha384-EdwaX1fkkk/Dw1rn9Nrzq52YHhZ4eOoLfPQJ2/2jsr7kaJeI1gnefa9O+Y/m9jZs" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/dark-mode.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha384-0saKbDOWtYAw5aP4czPUm6ByY5JojfQ9Co6wDgkuM7Zn+anp+4Rj92oGK8cbV91S" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.2.4/jquery.floatThead.min.js" integrity="sha384-5oSb2xBk02MJqTEAHfhRuhT4EvXfHOaFRN5xkcfAZyj9BYtHBcc+HNVYjpxSNDvd" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.1.1/js/bootstrap5-toggle.jquery.min.js" integrity="sha384-bIab3aAnTXOywft5Nn17jv1Z7UaoTW500cXO46aapZZrVF1gmL5ytpRp4rR8ndGP" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/desvg@1.0.2/desvg.min.js" integrity="sha384-0wGKJjJ/c7TAf3eiXh6u62Xrl/qbfUKz6/9h2gPE1l/f9iMLSRfgchhT99XT9O6f" crossorigin="anonymous"></script>
  <!-- Neo4j JavaScript Driver -->
  <script src="https://cdn.jsdelivr.net/npm/neo4j-driver@4.4.11/lib/browser/neo4j-web.min.js" integrity="sha384-M7IgiSpzRjF1qJu8pYaYwoDwXif/XBFUlabbZLNDtqXE7kPugcTx7QRyZqveSoBZ" crossorigin="anonymous"></script>
  <script src="static/js/script.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-1 shadow">
    <a class="navbar-brand" href="#"><img class="my_svg" src="static/images/logo_timeline.svg" alt="top" width="144"></a>
    <div class="collapse navbar-collapse">
      <form class="navbar-nav" role="search">
        <div id="caseStatus" class="mt-2 h-25"></div>
        <div id="itemForm">
          <div class="row ms-1 mt-2" style="--bs-gutter-x: 0.5rem;">
            <div class="col-auto">
              <select class="form-select" id="InputSelect">
                <option value="Username">Username</option>
              </select>
            </div>
            <div class="col-auto">
              <input class="form-control" type="text" value="administrator" id="query-input">
            </div>
          </div>
        </div>
        <input type="button" class="btn btn-primary ms-1 mt-2 h-25" value="+" onclick="ItemField.add();" />
        <input type="button" class="btn btn-primary ms-1 mt-2 h-25" value="-" onclick="ItemField.del();" />
        <span class="ms-1 mt-2">
          <input type="checkbox" data-toggle="toggle" data-onlabel="Table" data-onstyle="secondary" data-height="38" data-offlabel="Graph" data-offstyle="outline-secondary" id="timelineTypes">
        </span>
        <button type="button" class="btn btn-outline-primary ms-1 mt-2 h-25" onclick="searchTimeline()">search</button>
        <button type="button" class="btn btn-outline-primary ms-1 mt-2 h-25" onclick="createAlltimeline()">all</button>
        <div class="btn-group ms-1 mt-2 h-25">
          <button class="btn btn-outline-secondary" type="button">Download</button>
          <button class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" type="button" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" onclick="downloadSummary()" href="#">Summary</a>
            <a class="dropdown-item" onclick="downloadDetail()" href="#">Details</a>
          </div>
        </div>
        <div class="form-check form-switch ms-5 mt-3">
          <input class="form-check-input" type="checkbox" id="darkSwitch">
          <label class="form-check-label" for="darkSwitch">Dark Mode</label>
        </div>

        <li class="nav-item dropdown ms-5 mt-2 h-25" style="margin-left:auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><h6 class="dropdown-header">User Menu</h6></li>
            <li><a class="dropdown-item" href="setting">Change Password</a></li>
            <li><a class="dropdown-item" href="changecase_t">Change Case</a></li>
            <div class="dropdown-divider"></div>
            <li><h6 class="dropdown-header">Admin Menu</h6></li>
            <li class="dropend drop-hover">
              <a class="dropdown-item dropdown-toggle" href="#">User Management</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="signup">Add User</a></li>
                <li><a class="dropdown-item" href="usermng">Delete User</a></li>
              </ul>
            </li>
            <li class="dropend drop-hover">
              <a class="dropdown-item dropdown-toggle" href="#">Case Management</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="addcase">Add New Case</a></li>
                <li><a class="dropdown-item" href="delcase">Delete Case</a></li>
                <li><a class="dropdown-item" href="casemng">Add Access to Case</a></li>
                <li><a class="dropdown-item" href="delcasemng">Delete Access to Case</a></li>
              </ul>
            </li>
            <div class="dropdown-divider"></div>
            <li><h6 class="dropdown-header">User: {{ neo4j_user }}</h6></li>
            <li><a class="dropdown-item" href="logout">Logout</a></li>
          </ul>
        </li>


        <script src="static/js/dark-mode-switch.min.js"></script>
      </form>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 main mt-3">
        <div id="error"></div>
        <div id="cy"></div>
        <div id="addcanvas"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var neo = neo4j.default;
    //Neo4j access settings
    if (location.protocol == 'http:') {
      var driver = neo.driver("bolt://{{ server_ip }}:{{ ws_port }}", neo.auth.basic("{{ neo4j_user }}", "{{ neo4j_password }}"));
    } else if (location.protocol == 'https:') {
      var driver = neo.driver("bolt+ssc://{{ server_ip }}:{{ ws_port }}", neo.auth.basic("{{ neo4j_user }}", "{{ neo4j_password }}"));
    }
    var caseName = '{{ case_name }}';
    var session = driver.session({database: caseName});
    //createAlltimeline();

    var currentNumber = 0;
    var ItemField = {
      currentNumber: 0,
      itemTemplate: '<div class="row ms-1 mt-1" style="--bs-gutter-x: 0.5rem;">\
                      <div class="col-auto">\
                        <select class="form-select" id="InputSelect_count_">\
                          <option value="Username">Username</option>\
                        </select>\
                      </div>\
                      <div class="col-auto">\
                        <input class="form-control" type="text" id="query-input_count_">\
                      </div>',
      add: function() {
        currentNumber++;
        if (currentNumber <= 10) {
          var new_item = this.itemTemplate.replace(/_count_/mg, currentNumber);
          var new_area = document.createElement("div");
          new_area.setAttribute("id", "item" + currentNumber);
          var field = document.getElementById('itemForm');
          field.appendChild(new_area);
          document.getElementById('item' + currentNumber).innerHTML = new_item;
        }
      },
      del: function() {
        if (currentNumber == 0) {
          return;
        }
        var field = document.getElementById('itemForm');
        field.removeChild(field.lastChild);
        currentNumber--;
      }
    }

    if (caseName.indexOf("neo4j") != -1) {
      document.getElementById("caseStatus").innerHTML = '<button type="button" class="btn btn-secondary" disabled>case: default</button>';
    } else {
      document.getElementById("caseStatus").innerHTML = '<button type="button" class="btn btn-secondary" disabled>case: ' + caseName + '</button>';
    }

    $(function(){
      deSVG('.my_svg', true);
    });
  </script>
</body>

</html>
